pandas==2.1.4
mlflow
sagemaker-mlflow==0.1.0
transformers==4.48.2
tiktoken
fastapi
rouge_score
textstat
s3fs
datasets==3.2.0
sagemaker==2.239.3
peft==0.14.0
accelerate==1.3.0
bitsandbytes==0.45.1
evaluate==0.4.3
safetensors>=0.5.2
tokenizers>=0.21.0
py7zr
huggingface_hub[hf_transfer]
sentencepiece==0.2.0
scikit-learn==1.6.1
