strands-agents==1.4.0
strands-agents[sagemaker]
strands-agents-tools>=0.2.3
strands-agents-builder>=0.1.7
yfinance==0.2.65
matplotlib==3.10.3
beautifulsoup4>=4.13.4
pandas==2.3.0
seaborn==0.13.2
joblib==1.5.1
requests>=2.32.4
scikit-learn==1.7.0
uv==0.8.6
mem0ai==0.1.114
opensearch-py
ddgs==9.3.1
faiss-cpu==1.11.0
sagemaker==2.249.0
openai==1.99.3
aiohttp==3.12.15
boto3
bedrock-agentcore==0.1.1
bedrock-agentcore-starter-toolkit==0.1.5